[submodule "lib/cortex"]
	path = lib/cortex
	url = https://github.com/Pier-Two/cortex.git
[submodule "lib/SszSharp"]
	path = lib/SszSharp
	url = https://github.com/Pier-Two/SszSharp.git
[submodule "/Users/multi/Documents/GitHub/Lantern.Beacon/lib/blst-bindings"]
	path = /Users/multi/Documents/GitHub/Lantern.Beacon/lib/blst-bindings
	url = https://github.com/Pier-Two/blst-bindings.git
