[submodule "lib/dotnet-libp2p"]
	path = lib/dotnet-libp2p
	url = https://github.com/NethermindEth/dotnet-libp2p.git
[submodule "lib/Lantern.Discv5"]
	path = lib/Lantern.Discv5
	url = https://github.com/Pier-Two/Lantern.Discv5.git
[submodule "lib/cortex"]
	path = lib/cortex
	url = https://github.com/Pier-Two/cortex.git
[submodule "lib/SszSharp"]
	path = lib/SszSharp
	url = https://github.com/Pier-Two/SszSharp.git
